<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Display Function</h1>
<table>
    <thead>
        <tr>
            <th>
                Test1
            </th>
            <th>
                Test2
            </th>
            <th>
                Test3
            </th>
        </tr>
    </thead>
    <tbody>
    {% for result in Test%}
    <tr>
        <td>{{result.field1}}</td>
        <td>{{result.field2}}</td>
        <td>{{result.field3}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<h1>Add Function</h1>
    {% for result in Test %}
        <p>
            Sum of {{result.field2}}
            and {{result.field3}}
            is {{result.field2|add:result.field3}}
        </p>
    {% endfor %}
</body>
</html>